In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack/dataV2-labs/dataV2-labs/module-2/Final project'

In [3]:
stock_prices = pd.read_csv('historical_stock_prices.csv')
stock_prices

# merge inner join on ticker
# look at industries
# top 50 maybe 
# look at splits of stocks

         ticker   open  close  adj_close    low   high   volume        date
0           AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1           AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2           AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3           AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4           AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14
...         ...    ...    ...        ...    ...    ...      ...         ...
20973884    NZF  14.60  14.59  14.590000  14.58  14.62   137500  2018-08-20
20973885    NZF  14.60  14.58  14.580000  14.57  14.61   151200  2018-08-21
20973886    NZF  14.58  14.59  14.590000  14.57  14.63   185400  2018-08-22
20973887    NZF  14.60  14.57  14.570000  14.57  14.64   135600  2018-08-23
20973888    NZF  14.60  14.69  14.690000  14.59  14.69   180900  2018-08-24

[20973889 rows x 8 columns]

In [4]:
industries = pd.read_csv('historical_stocks.csv')
industries

,ticker,exchange,name,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS
...,...,...,...,...,...
6455,ZOES,NYSE,"ZOE&#39;S KITCHEN, INC.",CONSUMER SERVICES,RESTAURANTS
6456,ZTS,NYSE,ZOETIS INC.,HEALTH CARE,MAJOR PHARMACEUTICALS
6457,ZTO,NYSE,ZTO EXPRESS (CAYMAN) INC.,TRANSPORTATION,TRUCKING FREIGHT/COURIER SERVICES
6458,ZUO,NYSE,"ZUORA, INC.",TECHNOLOGY,COMPUTER SOFTWARE: PREPACKAGED SOFTWARE
6459,ZYME,NYSE,ZYMEWORKS INC.,HEALTH CARE,MAJOR PHARMACEUTICALS

In [ ]:
# find out how many companies have a NaN value for the sector column, 
# if this is relatively small compared to the whole data set I will drop these rows, 
# so I can start with analyzing the crisis by industry

In [23]:
industries.sector.isnull().sum()

1440

In [18]:
industries.sector.value_counts()

FINANCE                  1022
CONSUMER SERVICES         796
HEALTH CARE               784
TECHNOLOGY                607
CAPITAL GOODS             352
ENERGY                    286
PUBLIC UTILITIES          273
BASIC INDUSTRIES          272
CONSUMER NON-DURABLES     224
CONSUMER DURABLES         144
MISCELLANEOUS             139
TRANSPORTATION            120
SECTOR                      1
Name: sector, dtype: int64

In [20]:
industries.sector.count()

5020

In [ ]:
# as there are 1400 companies that have nan values, I will give these companies a sector
# 'others', to keep them in the analysis

In [44]:
industries.sector.unique()

# The 13 sectors I will use are:
# Finance
# Consumer Services
# Technology
# Public Utilities
# Capital Goods
# Basic Industries
# Health Care
# Consumer Durables
# Energy
# Miscellaneous
# Transportation
# Consumer Non Durables
# Others

array(['FINANCE', 'CONSUMER SERVICES', 'TECHNOLOGY', 'PUBLIC UTILITIES',
       'CAPITAL GOODS', 'BASIC INDUSTRIES', 'HEALTH CARE',
       'CONSUMER DURABLES', nan, 'ENERGY', 'MISCELLANEOUS', 'SECTOR',
       'TRANSPORTATION', 'CONSUMER NON-DURABLES'], dtype=object)

In [8]:
merged_stock = stock_prices.merge(industries, left_on='ticker', right_on='ticker')
merged_stock.ticker.value_counts()
# 5685 companies
merged_stock

KO       12274
IP       12274
MCD      12274
XOM      12274
BA       12274
         ...
PXUS         6
MOGLC        5
HFGIC        4
CBX          2
CRUSC        1
Name: ticker, Length: 5685, dtype: int64

In [9]:
merged_stock.sector.fillna('OTHERS', inplace=True)
merged_stock.sector.isnull().sum()

merged_stock.industry.fillna('OTHERS', inplace=True)
merged_stock.industry.isnull().sum()

0

In [10]:
merged_stock.isnull().sum()

ticker       0
open         0
close        0
adj_close    0
low          0
high         0
volume       0
date         0
exchange     0
name         0
sector       0
industry     0
dtype: int64

In [11]:
merged_stock.loc[[]]

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
20973884,NZF,14.60,14.59,14.590000,14.58,14.62,137500,2018-08-20,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973885,NZF,14.60,14.58,14.580000,14.57,14.61,151200,2018-08-21,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973886,NZF,14.58,14.59,14.590000,14.57,14.63,185400,2018-08-22,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973887,NZF,14.60,14.57,14.570000,14.57,14.64,135600,2018-08-23,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973888,NZF,14.60,14.69,14.690000,14.59,14.69,180900,2018-08-24,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS

In [12]:
merged_stock.to_csv('merged_stock_real_clean_1970.csv')

# import pymysql
# from sqlalchemy import create_engine

# engine = create_engine('mysql+pymysql://student:IHisCool!@34.77.233.175:3306/stock_prices')

# merged_stock_sp500.to_sql('merged_stock', engine, if_exists ='replace', index=False)

In [ ]:
# deleted the file before pushing, the link to Kaggle is
# https://www.kaggle.com/ehallmar/daily-historical-stock-prices-1970-2018

In [48]:
FINANCE = merged_stock.loc[merged_stock.sector == 'FINANCE']
FINANCE.industry.unique()

array(['REAL ESTATE', 'INVESTMENT MANAGERS', 'MAJOR BANKS',
       'ACCIDENT &HEALTH INSURANCE', 'PROPERTY-CASUALTY INSURERS',
       'LIFE INSURANCE', 'BUSINESS SERVICES',
       'INVESTMENT BANKERS/BROKERS/SERVICE', 'FINANCE: CONSUMER SERVICES',
       'FINANCE/INVESTORS SERVICES', 'SAVINGS INSTITUTIONS', 'BANKS',
       'COMMERCIAL BANKS', 'SPECIALTY INSURERS',
       'DIVERSIFIED FINANCIAL SERVICES',
       'DIVERSIFIED COMMERCIAL SERVICES', 'FINANCE COMPANIES'],
      dtype=object)

In [50]:
CONSUMER_SERVICES = merged_stock.loc[merged_stock.sector == 'CONSUMER SERVICES']
CONSUMER_SERVICES.industry.unique()

array(['OTHER CONSUMER SERVICES', 'BROADCASTING',
       'OTHER SPECIALTY STORES', 'TRANSPORTATION SERVICES', 'FOOD CHAINS',
       'REAL ESTATE INVESTMENT TRUSTS', 'RESTAURANTS',
       'CLOTHING/SHOE/ACCESSORY STORES', 'HOTELS/RESORTS',
       'BUILDING OPERATORS', 'TELECOMMUNICATIONS EQUIPMENT',
       'RECREATIONAL PRODUCTS/TOYS', 'TELEVISION SERVICES', 'ADVERTISING',
       'MARINE TRANSPORTATION', 'SERVICES-MISC. AMUSEMENT & RECREATION',
       'CATALOG/SPECIALTY DISTRIBUTION', 'PROFESSIONAL SERVICES',
       'MILITARY/GOVERNMENT/TECHNICAL', 'FARMING/SEEDS/MILLING',
       'MOTOR VEHICLES', 'OFFICE EQUIPMENT/SUPPLIES/SERVICES',
       'RENTAL/LEASING COMPANIES', 'HOMEBUILDING', 'MOVIES/ENTERTAINMENT',
       'HOME FURNISHINGS', 'MISCELLANEOUS',
       'CONSUMER ELECTRONICS/VIDEO CHAINS', 'REAL ESTATE',
       'ELECTRONICS DISTRIBUTION', 'RETAIL: BUILDING MATERIALS',
       'DIVERSIFIED COMMERCIAL SERVICES',
       'DEPARTMENT/SPECIALTY RETAIL STORES', 'PUBLISHING',
       'NEWSPAPERS/MAGAZINES', 'BOOKS', 'CONSUMER: GREETING CARDS',
       'PAPER', 'CONSUMER SPECIALTIES', 'AUTOMOTIVE AFTERMARKET'],
      dtype=object)

In [51]:
TECHNOLOGY = merged_stock.loc[merged_stock.sector == 'TECHNOLOGY']
TECHNOLOGY.industry.unique()

array(['SEMICONDUCTORS', 'COMPUTER SOFTWARE: PREPACKAGED SOFTWARE',
       'COMPUTER MANUFACTURING', 'INDUSTRIAL MACHINERY/COMPONENTS',
       'RADIO AND TELEVISION BROADCASTING AND COMMUNICATIONS EQUIPMENT',
       'COMPUTER PERIPHERAL EQUIPMENT', 'ELECTRICAL PRODUCTS',
       'ADVERTISING', 'EDP SERVICES', 'DIVERSIFIED COMMERCIAL SERVICES',
       'PROFESSIONAL SERVICES', 'ELECTRONIC COMPONENTS',
       'RETAIL: COMPUTER SOFTWARE & PERIPHERAL EQUIPMENT',
       'COMPUTER SOFTWARE: PROGRAMMING, DATA PROCESSING',
       'COMPUTER COMMUNICATIONS EQUIPMENT',
       'TELECOMMUNICATIONS EQUIPMENT'], dtype=object)

In [53]:
PUBLIC_UTILITIES = merged_stock.loc[merged_stock.sector == 'PUBLIC UTILITIES']
PUBLIC_UTILITIES.industry.unique()

array(['TELECOMMUNICATIONS EQUIPMENT', 'ELECTRIC UTILITIES: CENTRAL',
       'ENVIRONMENTAL SERVICES', 'OIL/GAS TRANSMISSION',
       'POWER GENERATION', 'NATURAL GAS DISTRIBUTION', 'WATER SUPPLY',
       'OIL & GAS PRODUCTION'], dtype=object)

In [54]:
CAPITAL_GOODS = merged_stock.loc[merged_stock.sector == 'CAPITAL GOODS']
CAPITAL_GOODS.industry.unique()

array(['SPECIALTY CHEMICALS', 'AUTO PARTS:O.E.M.',
       'MILITARY/GOVERNMENT/TECHNICAL', 'HOMEBUILDING',
       'AUTO MANUFACTURING', 'AEROSPACE', 'INDUSTRIAL SPECIALTIES',
       'INDUSTRIAL MACHINERY/COMPONENTS', 'ELECTRICAL PRODUCTS',
       'METAL FABRICATIONS', 'ELECTRONIC COMPONENTS',
       'CONSTRUCTION/AG EQUIPMENT/TRUCKS', 'FLUID CONTROLS',
       'MEDICAL SPECIALITIES', 'STEEL/IRON ORE', 'BUILDING PRODUCTS',
       'BUILDING MATERIALS', 'POLLUTION CONTROL EQUIPMENT',
       'BIOTECHNOLOGY: LABORATORY ANALYTICAL INSTRUMENTS',
       'MARINE TRANSPORTATION', 'MISCELLANEOUS', 'AUTOMOTIVE AFTERMARKET',
       'RAILROADS', 'ORDNANCE AND ACCESSORIES', 'CONTAINERS/PACKAGING',
       'TOOLS/HARDWARE', 'ENGINEERING & CONSTRUCTION',
       'WHOLESALE DISTRIBUTORS'], dtype=object)

In [56]:
BASIC_INDUSTRIES = merged_stock.loc[merged_stock.sector == 'BASIC INDUSTRIES']
BASIC_INDUSTRIES.industry.unique()

array(['MAJOR CHEMICALS', 'AGRICULTURAL CHEMICALS',
       'MILITARY/GOVERNMENT/TECHNICAL', 'CONTAINERS/PACKAGING', 'PAPER',
       'ENGINEERING & CONSTRUCTION', 'TEXTILES', 'STEEL/IRON ORE',
       'PRECIOUS METALS', 'SPECIALTY CHEMICALS',
       'MINING & QUARRYING OF NONMETALLIC MINERALS (NO FUELS)',
       'METAL FABRICATIONS', 'FOREST PRODUCTS',
       'GENERAL BLDG CONTRACTORS - NONRESIDENTIAL BLDGS', 'MISCELLANEOUS',
       'ENVIRONMENTAL SERVICES', 'PACKAGE GOODS/COSMETICS',
       'TELECOMMUNICATIONS EQUIPMENT', 'PAINTS/COATINGS', 'WATER SUPPLY',
       'HOMEBUILDING', 'HOME FURNISHINGS', 'ALUMINUM',
       'OTHER SPECIALTY STORES', 'ELECTRIC UTILITIES: CENTRAL'],
      dtype=object)

In [57]:
HEALTH_CARE = merged_stock.loc[merged_stock.sector == 'HEALTH CARE']
HEALTH_CARE.industry.unique()

array(['MEDICAL SPECIALITIES', 'MAJOR PHARMACEUTICALS',
       'HOSPITAL/NURSING MANAGEMENT', 'MEDICAL/DENTAL INSTRUMENTS',
       'BIOTECHNOLOGY: ELECTROMEDICAL & ELECTROTHERAPEUTIC APPARATUS',
       'INDUSTRIAL SPECIALTIES',
       'BIOTECHNOLOGY: IN VITRO & IN VIVO DIAGNOSTIC SUBSTANCES',
       'BIOTECHNOLOGY: BIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES)',
       'BIOTECHNOLOGY: COMMERCIAL PHYSICAL & BIOLOGICAL RESARCH',
       'OPHTHALMIC GOODS', 'MEDICAL/NURSING SERVICES',
       'OTHER PHARMACEUTICALS', 'MEDICAL ELECTRONICS',
       'PRECISION INSTRUMENTS'], dtype=object)

In [58]:
CONSUMER_DURABLES = merged_stock.loc[merged_stock.sector == 'CONSUMER DURABLES']
CONSUMER_DURABLES.industry.unique()

array(['DIVERSIFIED ELECTRONIC PRODUCTS',
       'MISCELLANEOUS MANUFACTURING INDUSTRIES', 'HOME FURNISHINGS',
       'CONSUMER SPECIALTIES', 'SPECIALTY CHEMICALS',
       'INDUSTRIAL SPECIALTIES', 'CONTAINERS/PACKAGING',
       'TELECOMMUNICATIONS EQUIPMENT', 'ELECTRICAL PRODUCTS',
       'AUTOMOTIVE AFTERMARKET', 'METAL FABRICATIONS',
       'CONSUMER ELECTRONICS/APPLIANCES', 'BUILDING PRODUCTS',
       'PUBLISHING', 'ELECTRONIC COMPONENTS',
       'OFFICE EQUIPMENT/SUPPLIES/SERVICES',
       'INDUSTRIAL MACHINERY/COMPONENTS'], dtype=object)

In [59]:
ENERGY = merged_stock.loc[merged_stock.sector == 'ENERGY']
ENERGY.industry.unique()

array(['OIL & GAS PRODUCTION', 'INTEGRATED OIL COMPANIES',
       'OIL REFINING/MARKETING', 'INDUSTRIAL MACHINERY/COMPONENTS',
       'OILFIELD SERVICES/EQUIPMENT', 'CONSUMER ELECTRONICS/APPLIANCES',
       'NATURAL GAS DISTRIBUTION', 'METAL FABRICATIONS', 'COAL MINING',
       'ELECTRIC UTILITIES: CENTRAL'], dtype=object)

In [47]:
MISCELLANEOUS = merged_stock.loc[merged_stock.sector == 'MISCELLANEOUS']
MISCELLANEOUS.industry.unique()

array(['PUBLISHING', 'BUSINESS SERVICES', 'MULTI-SECTOR COMPANIES',
       'INDUSTRIAL MACHINERY/COMPONENTS', 'OTHER CONSUMER SERVICES',
       'OFFICE EQUIPMENT/SUPPLIES/SERVICES'], dtype=object)

In [60]:
TRANSPORTATION = merged_stock.loc[merged_stock.sector == 'TRANSPORTATION']
TRANSPORTATION.industry.unique()

array(['AEROSPACE', 'MARINE TRANSPORTATION',
       'AIR FREIGHT/DELIVERY SERVICES',
       'TRUCKING FREIGHT/COURIER SERVICES', 'TRANSPORTATION SERVICES',
       'RAILROADS', 'OIL REFINING/MARKETING'], dtype=object)

In [62]:
CONSUMER_NONDURABLES = merged_stock.loc[merged_stock.sector == 'CONSUMER NON-DURABLES']
CONSUMER_NONDURABLES.industry.unique()

array(['MEAT/POULTRY/FISH', 'BEVERAGES (PRODUCTION/DISTRIBUTION)',
       'RECREATIONAL PRODUCTS/TOYS', 'PACKAGED FOODS', 'APPAREL',
       'FARMING/SEEDS/MILLING', 'ELECTRONIC COMPONENTS',
       'FOOD DISTRIBUTORS', 'SPECIALTY FOODS', 'SHOE MANUFACTURING',
       'CONSUMER SPECIALTIES', 'PLASTIC PRODUCTS', 'TOBACCO',
       'MOTOR VEHICLES', 'PACKAGE GOODS/COSMETICS', 'FOOD CHAINS',
       'CONSUMER ELECTRONICS/APPLIANCES', 'TEXTILES',
       'TELECOMMUNICATIONS EQUIPMENT', 'ENVIRONMENTAL SERVICES',
       'HOMEBUILDING'], dtype=object)

In [71]:
OTHERS = merged_stock.loc[merged_stock.sector == 'OTHERS']
# OTHERS.head()

In [79]:
merged_stock.head()

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE

In [7]:
# I will start analyzing by sector as their are too many industries

by_sector = merged_stock.pivot_table(index= ['date'], columns=['sector'], values=['close'])
by_sector

                      close                                  \
sector     BASIC INDUSTRIES CAPITAL GOODS CONSUMER DURABLES
date
1970-01-02         6.096713     46.301775         15.750000
1970-01-05         6.184283     48.401358         15.437500
1970-01-06         6.134841     48.585496         15.000000
1970-01-07         6.052020     47.931907         14.812500
1970-01-08         6.084009     47.943648         14.750000
...                     ...           ...               ...
2018-08-20        37.709893     61.945180         41.290478
2018-08-21        38.064012     62.642593         41.737191
2018-08-22        38.089459     62.340733         47.051356
2018-08-23        37.661423     61.798117         42.231977
2018-08-24        37.906989     62.274532         41.529515

                                                                          \
sector     CONSUMER NON-DURABLES CONSUMER SERVICES     ENERGY    FINANCE
date
1970-01-02              0.615885          3.536614   2.939796        NaN
1970-01-05              0.613281          3.500573   2.960894        NaN
1970-01-06              0.621094          3.507395   2.916450        NaN
1970-01-07              0.625000          3.449774   2.928077        NaN
1970-01-08              0.619141          3.476172   2.998086        NaN
...                          ...               ...        ...        ...
2018-08-20             45.241072         45.149352  30.187186  42.053725
2018-08-21             45.552928         45.524840  29.824209  41.652578
2018-08-22             45.405173         45.286338  30.570970  42.080687
2018-08-23             45.811127         45.358728  30.362145  41.646763
2018-08-24             45.142699         45.330320  30.540522  41.945020

                                                                              \
sector     HEALTH CARE MISCELLANEOUS      OTHERS PUBLIC UTILITIES TECHNOLOGY
date
1970-01-02    3.205150           NaN         NaN        17.698688   9.300358
1970-01-05    3.205440           NaN         NaN        18.031656   9.393181
1970-01-06    3.240451           NaN         NaN        17.893031   9.397434
1970-01-07    3.247106           NaN         NaN        17.856937   9.404128
1970-01-08    3.284722           NaN         NaN        17.856937   9.424653
...                ...           ...         ...              ...        ...
2018-08-20   34.441929     64.742089  276.209076        68.480061  45.643558
2018-08-21   34.751229     64.805355  273.082107        68.873514  46.028261
2018-08-22   35.037605     66.096737  272.653860        65.761353  46.357383
2018-08-23   35.228035     65.520530  276.455048        67.000607  46.250376
2018-08-24   35.058330     66.026992  274.804218        67.036137  47.090795


sector     TRANSPORTATION
date
1970-01-02            NaN
1970-01-05            NaN
1970-01-06            NaN
1970-01-07            NaN
1970-01-08            NaN
...                   ...
2018-08-20      38.772955
2018-08-21      39.015625
2018-08-22      38.841920
2018-08-23      38.936009
2018-08-24      39.110009

[12274 rows x 13 columns]